<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Practica 6</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <router-outlet></router-outlet>
  </ion-content>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button routerLink="/alumnos">
        <ion-label>Lista de Asistencia</ion-label>
        <ion-icon name ="people"></ion-icon>
      </ion-tab-button>
      <ion-tab-button routerLink="/materias">
        <ion-label>Lista de Materias</ion-label>
        <ion-icon name ="book"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>